<nav class="navbar navbar-expand-lg custnav">
    <a class="navbar-brand" href="#">
        <img src="../../assets/assets/applogo.png" class="mr-2" alt="Logo" style="width:40px;"> <b> {{ticketingSystem}}
        </b>
    </a>
    <div class="navbar-nav mr-auto mt-2 mt-lg-0"> </div>

    <span class="border-left border-secondary"> </span>

    <div class="form-inline my-2 my-lg-0 float-right font-weight-bold">
        <span class="border-left border-secondary">
            <i class="fa fa-info-circle ml-5 mr-2"></i> {{ salesAndSupport}}
        </span>
    </div>

</nav>

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="login-form">

                <img src="../../assets/assets/laptop.png" class="loginimg" alt="Logo"
                    style="width:140px; height: 150px; position: absolute; margin-left: 170px; margin-top: -90px;">

                <br> <br> <br>

                <h5 class="text-center text-secondary"> <b style="color: #00303F;"> {{ loginForm }} </b> </h5>
                <h5 class="text-center text-secondary"> <b style="color: #00303F;"> {{ forgotPassword }} </b> </h5>
                <p style="text-align: center;"> {{userInstruction1}} </p>
                <p style="text-align: center;"> {{userInstruction2}} </p>

                <div class="form-group" id="inputForm">

                    <b style="color: #00303F;"> {{ email }} </b>

                    <input type="password" class="form-control" id="userPassword" placeholder="Enter  E-Mail address.">



                    <div class="form-group" id="inputForm">

                        <b style="color: #00303F;"> {{ organizationName }} </b>

                        <input type="password" class="form-control" id="userPassword"
                            placeholder="Please enter your Organization name.">

                    </div>

                    <div class="form-group text-center mt-2">

                        <button class="btn btn-success custom">

                            <a routerLink="/Login" style="color:white;"> <b> REQUEST PASSWORD RESET </b></a>
                        </button>
                    </div>

                </div>


                <div style="position: absolute; left:1px;" class="back-to-index"> <a href="/"> <i class="fa fa-chevron-left ml-5 mr-2"><u> <b> Back To Login </b>
                        </u> </i> </a> </div>




            </div>
        </div>
    </div>
</div>